<div class="col-md-4 rooms-container-item">
  <div class="rooms-container-item-body">
    <a href="<%= user_room_path(room.user_id) %>">
      <div class="img-preview">
        <% if room.image.present? %>
          <%= image_tag room.image.url, class: 'img-responsive' %>
        <% else %>
          <%= image_tag 'default-item.png', class: 'img-responsive' %>
        <% end %>
        <div class="triangle-preview"></div>
      </div>
    </a>
    <div class="rooms-container-item-body-title">
      <h2>
        <a href="<%= user_room_path(room.user_id) %>"><%= room.title %></a>
      </h2>
    </div>
  </div>
</div>
