<div class="container-fluid room-page">
  <div class="room-page-header" controller="<%= user_room_path(current_user) if current_user && @room.user.id == current_user.id %>">
    <h2>
      <%= @room.title %>
    </h2>
    <% if current_user && @room.user.id == current_user.id  %>
    <span class="glyphicon glyphicon-pencil edit-sign"></span>
    <% end %>
  </div>
  <div class="room-page-body">
    <div class="col-md-8">
      <div class="room-page-body-video-block">
        <div class="room-page-body-video-block-header">
          <%= @room.video.title if @room.video  %>
        </div>
        <div class="room-page-body-video-block-video">
          <% if @room.video %>
          <div id="player"></div>


          <div id="video-room-<%=@room.id%>" controller="<%=user_room_video_path(current_user) if current_user%>" isOwner="<%= current_user ? @room.user.id == current_user.id : false %>">

          </div>
        <% else %>
          <% if @room.user == current_user %>
          <div class="add-video-area">
            <div class="add-video-area-target" title="Add video" data-toggle="modal" data-target="#add-video-pop-up">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>

      <div class="room-page-body-options">
        <% if @room.user == current_user %>
        <div class="admin-options">
          <% if @room.video %>
          <div data-toggle="modal" data-target="#add-video-pop-up" class="edit-room-button option-button">
            <h2>Change video</h2>
          </div>
          <% end %>
          <a class="delete-room-button option-button" rel="nofollow" data-method="delete" href="<%= user_room_path(current_user) %>">
            <h2>
              Delete room
            </h2>
          </a>

        </div>
        <% end %>
      </div>

    </div>

    <%= render 'chat' %>

  </div>
</div>

<%= subscribe_to "/messages/new" %>
<%= render 'add_video_pop_up' %>
