<div class="container-fluid room-page">
  <div class="room-page-header"  controller="<%= user_room_path(current_user) %>">
    <h2>
      <%= @room.title %>
    </h2>
    <span class="glyphicon glyphicon-pencil edit-sign"></span>
  </div>
  <div class="room-page-body">
    <div class="col-md-8">
      <div class="room-page-body-video-block">
        <div class="room-page-body-video-block-header">
          <%= @room.video.title if @room.video  %>
        </div>
        <div class="room-page-body-video-block-video">
          <% if @room.video %>
          <iframe src="<%= @room.video.link %>" allowfullscreen frameborder="0" width="100%" height="100%"></iframe>
        <% else %>
          <div class="add-video-area">
            <div class="add-video-area-target" data-toggle="modal" data-target="#add-video-pop-up">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="room-page-body-options">
        <% if @room.user == current_user %>
        <div class="admin-options">
          <div data-toggle="modal" data-target="#add-video-pop-up" class="edit-room-button option-button">
            Edit
          </div>
          <%= link_to "Delete", user_room_path(current_user),  method: :delete, class: "delete-room-button option-button" %>
        </div>
        <% end %>
        <div class="user-options"></div>
      </div>
    </div>
    <%= render 'chat' %>
  </div>
</div>

<%= subscribe_to "/messages/new" %>
<%= render 'add_video_pop_up' %>
