<div class="container-fluid room-page">
  <div class="room-page-header">
    <h2><%= @room.title %></h2>
  </div>
  <div class="room-page-body">
    <div class="col-md-8">
      <div class="room-page-body-video-block">
        <div class="room-page-body-video-block-header">
          <%= @room.video_title if @room.video_title  %>
        </div>
        <div class="room-page-body-video-block-video">
          <% if @room.video_url %>
          <iframe src="<%= @room.video_url %>" allowfullscreen frameborder="0" width="100%" height="100%"></iframe>
        <% else %>
          <div class="add-video-area">
            <div class="add-video-area-target" data-toggle="modal" data-target="#add-video-pop-up">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="room-page-body-options">
        <% if @room.user == current_user %>
        <div class="admin-options">
          <%= link_to "Edit", edit_user_room_path(@room), class: "edit-room-button option-button" %>
          <%= link_to "Delete", user_room_path(@room),  method: :delete, class: "delete-room-button option-button" %>
        </div>
        <% end %>
        <div class="user-options"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="room-page-body-chat">
        <div class="room-page-body-chat-header">
            Chat
         </div>
        <div class="room-page-body-chat-body">
          <ul id="chat">
            <%= render @room.messages.all %>
          </ul>
          <div class="panel-footer">
            <%= form_for [@user, @room, @room.messages.build], remote: true do |f| %>
                <div class="input-group">
                  <%= f.text_field :body, class: "form-control" %>
                  <span class="input-group-btn">
                        <%= f.submit "Send", class: "btn btn-default" %>
                      </span>
                </div>
            <% end %>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>

<%= subscribe_to "/messages/new" %>
<%= render 'add_video_pop_up' %>
