<div class="container rooms-container">
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
  <%= render 'room' %>
</div>
