<div class="container">
 <div class="buttons">
      <button class="signup">Sign up</button>
      <button class="login">Log in</button>
 </div>

<div class="form-name">Sign Up</div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
  <!--  <%= f.label :username %><br /> -->
    <%= f.text_field :username, autofocus: true ,  placeholder: "Name"%>
  </div>

  <div class="field">
  <!--  <%= f.label :email %><br /> -->
    <%= f.email_field :email,  placeholder: "E-mail"%>
  </div>

  <div class="field">
 <!--   <%= f.label :password%> 
    <% if @minimum_password_length %>
   <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /> -->
   <%= f.password_field :password, autocomplete: "off",  placeholder: "Password"%>
  </div>

  <div class="field">
    <!-- <%= f.label :password_confirmation %><br />  -->
    <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: "Confirm Password"%>
  </div>

  <div class="actions">
    <%= f.submit "Get Started", :class => 'submit-button' %>
  </div>
  <% end %>

<!-- <div class="link">
    <%= render "users/shared/links" %>
 </div> -->
 
 
</div>


