<div class="header">
  <div class="logo pull-left">
    <h2 class="logo-text">
      <a href="<%= root_path %>">CinemaSync</a>
    </h2>
  </div>

  <div class="site-navigation pull-right">
    <ul class="site-navigation-list">
      <li class="site-navigation-list-item">
        <a href="<%= root_path %>" class="site-navigation-text">Home</a>
      </li>
      <li class="site-navigation-list-item">
        <a href="<%= about_path %>" class="site-navigation-text">About</a>
      </li>
      <% if !user_signed_in? %>
      <li class="site-navigation-list-item">
        <%= link_to "Sign in", new_user_session_path, class: "site-navigation-text"%>
      </li>
    <% else %>
      <li class="site-navigation-list-item">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "site-navigation-text" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'layouts/create_room_pop_up' %>
